# macOS
.DS_Store
.AppleDouble
.LSOverride

._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDES
.vscode/
.idea/
*.swp
*.swo

# Project specific
node_modules/
dist/
build/
*.log

Notes/

# Tests
AIAng/tests/